/* BACKGROUND HALAMAN */
body {
  background-color: #121220;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* CONTAINER CARD */
.card {
  background: #1E1E2F;
  border: 1px solid #2A2A40;
  border-radius: 20px;
  padding: 20px;
  width: 220px;
  text-align: center;
  color: #F5F5F5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

/* HOVER CARD */
.card:hover {
  transform: translateY(-8px);
  background: #292942;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* GAMBAR POKEMON */
.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

/* NAMA POKEMON */
.card h2 {
  margin-top: 10px;
  font-size: 20px;
  color: #ffffff;
}

/* TYPE POKEMON */
.card p {
  color: #B8B8D1;
  font-size: 14px;
}